.footer {
  position: static;
  padding: 0;
  margin-top: 15px;

  .footer-inner {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: left;
    padding: 0 13px;
    color: rgb(83, 100, 113);
  }
}
