.site-brand-wrapper {
  position: relative;
}

.site-meta {
  padding: 20px 0;
  color: white;
  background: $black-deep;

  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}

.brand {
  position: absolute;
  top: 260px;
  right: 0;
  left: 0;
  padding: 0;
  background: none;

  &:hover { color: white; }

  .site-title {
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: #00c3ff;
    user-select: none;
    font-family: $font-family-title;
    text-shadow: 5px 0px 0px #fff, -5px 0px 0 #fff, 0px 5px 0 #fff, 0px -5px 0 #fff;
  }
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}

.site-search form { display: none; }
