.container {
  display: flex;
  align-items: stretch;
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  .header-wrapper {
    width: 240px;
    margin-right: 20px;
    position: relative;

    .logo-wrapper {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 52px;
        font-weight: 100;
        color: $theme-blue;
        text-transform: capitalize;
        font-family: $font-family-title;
        text-shadow: 4px 0px 0px #fff, -4px 0px 0 #fff, 0px 4px 0 #fff, 0px -4px 0 #fff;
      }
    }

    .header-inner {
      position fixed;
      top: 0;
      right: auto;
      margin: 0;
      padding: 0;
      width: inherit;
      height: 100%:

      +desktop-large() {
        .container & { width: 240px; }
      }
    }
  }
}

.main-container {
  position: relative;
  flex-grow: 1;
}

.main {
  width: 1015px;
  padding: 0;
  margin: 0;
  clearfix();
}

.container .main-inner {
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.content-wrap {
  float: right;
  box-sizing: border-box;
  width: 710px;
  min-height: 700px;
  box-shadow: $box-shadow-inner;
}

.home-content-wrap {
  width: 675px;
  margin-left: 35px;
}

.sidebar {
  position: static;
  float: left;
  margin-top: 300px;
  width: $sidebar-desktop;
  background: $body-bg-color;
  box-shadow: none;
}

.sidebar-toggle { display: none; }

#backlife {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.footer-inner {
  width: $main-desktop;
  padding-left: 260px;
}



.sidebar-position-right {
  .header-inner { right: 0; }
  .content-wrap { float: left; }
  .sidebar { float: right; }

  .footer-inner {
    padding-left: 0;
    padding-right: 260px;
  }
}

#evanyou {
  position: fixed;
  width: 1037px;
  height: 100%;
  top: 0;
  z-index: -1;
  background: #efefef;
}

.scaleup {
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
