.site-nav {
  +tablet() {
    display: none !important;
  }
}

.site-nav-on {
  +tablet() {
    display: block !important;
  }
}

.menu {
  margin: 0;
  padding: 0;
}

.menu .menu-item {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 14px;
  cursor: pointer;
  border-radius: 9999px;

  &:hover {
    background: #E7E7E8;
  }

  a {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    color: rgb(15, 20, 25);
    border-bottom: 0;

    .menu-item-icon {
      font-size: 25px;
    }
  }

  br { display: none; }
}

.menu .menu-item-active {
  background: #fff;

  a {
    font-weight: 700;
    color: #15C5CE;
  }
}

.btn-bar {
  background-color: white;
}

.site-nav-toggle {
  left: 20px;
  top: 50%;

  -webkit-transform:  translateY(-50%);
  transform:  translateY(-50%);

  +tablet() {
    display: block;
  }
}
