.posts-expand {
  padding-top: 0;
}

.post-block {
  padding: $post-block-padding;
  margin-bottom: $post-block-margin-Bottom;
  background: $post-bg-color;
  border-radius: $border-radius;
}

.post-body {
  +mobile() {
    text-align: justify;
  }
}
