.posts-expand .post-title {
  width: 80%;
  text-align: center;
  word-break: break-word;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: $black-deep;
  border-bottom: none;
  vertical-align: top;
  font-weight: 700;

  .fa { font-size: 16px; }
}
