.site-author-image-wrap {
  overflow: hidden;
  box-sizing: border-box;
  padding: $site-author-image-padding;
  height: $site-author-image-height;
  border-top-left-radius: $site-author-border-radius;
  border-top-right-radius: $site-author-border-radius;
  border: $site-author-image-border-width solid $site-author-image-border-color;
}

.site-author-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .3s ease;
  border-top-left-radius: $site-author-border-radius;
  border-top-right-radius: $site-author-border-radius;

  &:hover {
    transform: scale(1.1);
  }
}

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-bottom: 0;
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}
