.posts-expand .post-title {
  text-align: center;
  word-break: break-word;
  font-weight: 700;
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: $black-deep;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
  font-weight: 700;

  .fa { font-size: 16px; }
}
